@charset "UTF-8";
@font-face {
  font-family: "Amazon Ember";
  src: url("../fonts/AmazonEmber_Rg.eot");
  src: local("☺"), url("../fonts/AmazonEmber_Rg.woff") format("woff"), url("../fonts/AmazonEmber_Rg.ttf") format("truetype"), url("../fonts/AmazonEmber_Rg.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ssf {
  width: 34px;
  height: 34px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4px;
  right: 22px;
  z-index: 1;
  mix-blend-mode: luminosity;
  background-color: #fff;
  position: absolute;
}
.ssf-bg {
  cursor: pointer;
  display: inline-block;
  background-size: cover;
  outline: 0;
  width: 24px;
  height: 24px;
  background-image: url(../source/ssf-bg.svg);
}

.small-photos-wrap {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 8px;
  position: relative;
  padding: 0;
}
.small-photos-wrap .board-grey {
  border: 1px solid #a2a6ac;
  border-radius: 2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.small-photos-wrap .board-grey .img-wrap {
  overflow: hidden;
  border-radius: 2px;
}
.small-photos-wrap .video:hover .second-lvl {
  display: block;
  position: absolute;
  left: 60px;
  top: 45%;
  transform: translateY(-50%);
}

.second-lvl {
  display: none;
}

.first-half {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

ul {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.col-6 .heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-family: Arial, sans-serif;
  max-width: 315px;
}
.col-6 .link {
  text-decoration: none;
  color: #007185;
  font-size: 14px;
  line-height: 20px;
  font-family: Arial, sans-serif;
}
.col-6 .link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c7511f;
}
.col-6 .rating {
  display: flex;
  align-items: center;
}
.col-6 .rating .stars {
  height: 18px;
  width: 80px;
  background-image: url(../source/sprite.png);
  background-size: 512px 512px;
  background-position: -2px -42px;
  display: inline-block;
  cursor: pointer;
}
.col-6 .rating .pop {
  background-image: url(../source/sprite2.png);
  vertical-align: text-top;
  width: 7px;
  height: 5px;
  background-position: -90px -5px;
  background-size: 400px 900px;
  opacity: 0.6;
  display: inline-block;
  cursor: pointer;
}
.col-6 div .pipe {
  color: #666;
}
.col-6 .wrap-choice {
  display: flex;
}
.col-6 .wrap-choice .wrap-span {
  display: inline-flex;
}
.col-6 .wrap-choice .wrap-span .am-cho {
  height: 22px;
  background-color: #232f3e;
  border-color: #232f3e;
  display: flex;
  min-width: 80px;
}
.col-6 .wrap-choice .wrap-span .am-cho .amaz {
  line-height: 22px;
  font-size: 12px;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #fff;
}
.col-6 .wrap-choice .wrap-span .am-cho .choice {
  line-height: 22px;
  font-size: 12px;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #f69931;
}
.col-6 .wrap-choice .wrap-span .triangle {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 22px solid;
  color: #232f3e;
}
.col-6 .wrap-choice .text-hide {
  color: #111;
  display: inline;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col-6 .climatePledgeFriendly-wrap .climatePledgeFriendly {
  color: #168342;
  text-decoration: none;
}
.col-6 .climatePledgeFriendly-wrap .climatePledgeFriendly-img {
  height: 18px;
  width: 26px;
}
.col-6 .climatePledgeFriendly-wrap .climatePledgeFriendly-text {
  font-size: 14px;
  line-height: 20px;
}
.col-6 hr {
  color: #0f1111;
}
.col-6 .set-buttons .set-descr .set-name {
  color: #555;
}
.col-6 .set-buttons .set-descr .set-item {
  font-weight: 700;
  color: #000;
}
.col-6 .set-buttons .butt-dashed {
  border: 1px dashed silver;
  background-color: transparent;
  color: #ccc;
}
.col-6 .set-buttons .butt-dashed:hover {
  color: #000;
}
.col-6 .set-buttons .butt-solid-orange {
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #e47911;
}
.col-6 .set-buttons .butt-solid {
  background-color: transparent;
  border: 1px solid #e0e0e0;
}
.col-6 .set-buttons .butt-solid:hover {
  background-color: #f3f3f3;
}
.col-6 .tb-row-data {
  color: #000;
  vertical-align: text-top;
  font-family: "Amazon Ember", Arial, sans-serif;
}
.col-6 .tb-row-data-bold {
  font-weight: 700;
  width: 83px;
  color: #000;
  font-family: "Amazon Ember", Arial, sans-serif;
}
.col-6 .heading-about {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Amazon Ember", Arial, sans-serif;
}
.col-6 .list {
  padding: 0;
  list-style-type: disc;
  font-family: "Amazon Ember", Arial, sans-serif;
}
.col-6 .note {
  font-family: "Amazon Ember", Arial, sans-serif;
}
.col-6 .note-bold {
  font-weight: bold;
}

.active .second-lvl,
.photo:hover .second-lvl {
  display: block;
  position: absolute;
  left: 50px;
  top: 80%;
  transform: translateY(-50%);
}

.col-12 .small-photos-wrap .active, .board-grey:hover {
  border: 1px solid #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}

.more-options {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border: 1px #d5d9d9 solid;
  border-radius: 8px;
  background-color: #fff;
}
.more-options .all-options {
  color: rgb(15, 17, 17);
  background-color: transparent;
  font-size: 13px;
  line-height: 29px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-family: "Amazon Ember", Arial, sans-serif;
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0px 2px 5px 0px;
  width: 204px;
}
.more-options .deliver-flex {
  display: flex;
}
.more-options .deliver-flex .deliver {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Amazon Ember", Arial, sans-serif;
  text-decoration: none;
  color: #007185;
}
.more-options .deliver-flex .deliver:hover {
  cursor: pointer;
  color: #c7511f;
}
.more-options .deliver-flex .point {
  min-width: 16px;
  height: 14px;
  background-image: url(https://m.media-amazon.com/images/S/sash/kIT-Lj9i1Bch8yi.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-right: 5px;
  margin-top: 2px;
}
.more-options .add {
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  border: 1px solid #adb1b8;
  border-radius: 3px;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #0f1111;
  text-decoration: none;
  line-height: 29px;
  font-size: 13px;
}/*# sourceMappingURL=stylesheet.css.map */